@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
    /* Breakpoints */

    --bp-mobile: 375px;
    --bp-desktop: 1440px;

    /* Colors */

    --color-orange: hsl(31, 77%, 52%);
    --color-cyan: hsl(184, 100%, 22%);
    --color-dark-cyan: hsl(179, 100%, 13%);
    --color-tansparent-white: hsla(0, 0%, 100%, 0.75);
    /* font color for paragraphs*/
    --color-light-gray: hsl(0, 0%, 95%);
    /*color for background, heading, buttons */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: "Lexend Deca", sans-serif;
    color: var(--color-tansparent-white);
    line-height: 2;

    background-color: var(--color-light-gray);
}

h2 {
    font-family: "Big Shoulders Display", cursive;
    font-size: 3.4rem;
    text-transform: uppercase;
    color: var(--color-light-gray);
    letter-spacing: 0.5px;
    line-height: 1.1;

    margin: 3.7rem 0;
}

@media (min-width: 1440px) {
    h2 {
        font-size: 3.6rem;
    }
}

/* Buttons */

a {
    text-decoration: none;
}

.btn {
    text-transform: capitalize;
    letter-spacing: 0.5px;

    padding: 1.5rem 3.5rem;
    border-radius: 40px;
    border: 2px solid transparent;
    display: inline-block;
    white-space: nowrap;

    background-color: var(--color-light-gray);
    transition: all 0.2s;
}

.btn:hover {
    border: 2px solid var(--color-light-gray);
    color: var(--color-light-gray);
    background-color: transparent;
}

.btn--orange {
    color: var(--color-orange);
}

.btn--cyan {
    color: var(--color-cyan);
}

.btn--dark-cyan {
    color: var(--color-dark-cyan);
}

/* Icons */

.icon {
    width: 68px;
    height: 40px;
}

/* Cards */

.card {
    width: 100%;
    max-width: 310px;
    padding: 5rem;
}

.card .card--orange {
    border-radius: 20px;
}

.card__description {
    margin-bottom: 2.5rem;
}

.card--orange {
    background-color: var(--color-orange);
}

.card--cyan {
    background-color: var(--color-cyan);
}

.card--dark-cyan {
    background-color: var(--color-dark-cyan);
}

@media (min-width: 1440px) {
    .card__description {
        margin-bottom: 8.5rem;
    }
}

/* Card-block */

.card-container {
    width: fit-content;
    margin: 8rem auto;
    border-radius: 7px;

    overflow: hidden;
}

@media (min-width: 1440px) {
    .card-container {
        display: flex;
    }
}
